@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700;800&display=swap');
@import "tailwindcss";

.font-bricolage {
  font-family: 'Bricolage Grotesque', 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

:root {
  --background: #F2F2F2;
  --foreground: #171717;
}

body.dark-mode {
  --background: #1F1B3B;
  --foreground: #171717;
}

body.dark-mode h1 {
  color: #52B2EB;
}

body.dark-mode p {
  color: #F2F2F2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Bricolage Grotesque', 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-gradient {
  background: linear-gradient(135deg, #3b82f6, #1e40af);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-custom {
  box-shadow: 0 10px 25px -5px rgba(59, 130, 246, 0.1),
    0 10px 10px -5px rgba(59, 130, 246, 0.04);
}


h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 600;
  color: #1F1B3B;
  line-height: 124.5%;
  letter-spacing: 0;
}

p {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  color: #1F1B3B;
  line-height: 140%;
  letter-spacing: 0;
}

h2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  color: #1F1B3B;
  line-height: 140%;
  letter-spacing: 0;
}

h3 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  color: #F2F2F2;
  line-height: 140%;
  letter-spacing: 0;
}


h4 {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #2451D7;
  line-height: 140%;
  letter-spacing: 0;
}

h5 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 800;
  color: #1F1B3B;
  line-height: 124.5%;
  letter-spacing: 0;
}